.simple-body {
  width:90vw;
  max-width:1000px;
  margin:auto;
}

.simple-block {
  width: 100%;
  display: block;
  margin: auto;
}

.simple-block h2 {
  margin-bottom:0;
  font-size: 2em;
}

.simple-block h1 {
  margin-top:0;
  font-size: 3.5em;
}

.simple-block p {
  font-size:100%;
}

.simple-container {
  width: 100%;
  display: flex;
  margin: auto;
}

.simple-container img {
  object-fit: cover;
}

.medium-img {
  max-height:25vh;
  width:auto;
}

.center-vertical-container {
  display:table;
}

.center-vertical {
  display:table-cell;
  vertical-align: middle;
}

.hero {
  width:100%;
  max-height:450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  margin:3%;
  width:60%;
  max-width:750px;
  max-height:70%;
}

.std-button {
  background-color: var(--secondary-ui);
  min-width: 20%;
  height: 7%;
  margin-right: 2vh;
  margin-bottom: 2vh;
  padding: 3%;
  color: var(--ui-text);
  display: flex;
  font-size:100%;
  text-decoration: none;
  border: none;
  border-radius:4px;
}

.std-button:hover {
  background-color: var(--secondary-ui-hover);
  cursor:pointer;
}

.guide-table{
  display:block;
  margin:auto;
  width:90%;
}

.gt-row {display:flex;}

.gt-img {
  width:25%;
}

.gt-img img {
  width:90%;
  object-fit: scale-down;
}

.gt-text {
  width:75%;
  padding-left:5%;
  display: table;
}

.note {font-size:0.2em;}

.bookcase {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  margin: auto;
}

.bookcase-container {
  display:block;
  text-align:center;
  max-width:min-content;
  background-color: var(--secondary-ui);
  border-radius:10px;
  margin: 1vw 1vw;
}

.bookcase-container p{
  padding: 0 5%;
}

.bookcase-container:hover {
  background-color: var(--secondary-ui-hover);
  cursor: pointer;
}